div{
	position: fixed;
  border: 5px solid black;
  height: 500px;
  top: 15%;
  left: 28%;
  width: 700px;
      height: 500px
}
div > h1{
text-align: center;
}
form{
	background-color: transparent;
	border: 2px yellow;
	position: fixed;
      left: 600px;
      top: 40%;
      left: 35%;
      width: 500px;
      height: 700px;
}
form > fieldset{

}
div img{
	position: absolute;
	top: 1%;
	opacity: 0.6;
	filter: alpha(opacity=60);
	left: 300px;
	width: 50%;
	height: 50%;
}
